# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage

# Compiled
build
dist

# Dependency directories
node_modules

# OS X temporary files
.DS_Store

# VSCode settings
.vscode